/* Imports */

/* Acme font - Weight: 400 */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

/* Quicksand font - Weights: 300, 400, 500, 600, 700 */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Setup */
:root {
  margin: 0;
  padding: 0;
  font-size: 1rem;

  /* Colors */
  --emerald-color: #0cce6b;
  --aerospace-color: #ff4e00;
  --jet-color: #363537;
  --jasmine-color: #fadf7f;
  --white-smoke-color: #f6f4f3;
}

body {
  font-family: "Quicksand", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  background-color: var(--white-smoke-color) !important;
}

/* Fonts */

.acme-regular {
  font-family: "Acme", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

/* Font-sizes */
header {
  font-size: 1.25rem;
}

#main-logo {
  font-size: 5rem !important;
  text-shadow: 2px 2px 2px var(--jet-color);
}

#secondary-logo {
  font-size: 2.5rem !important;
  text-shadow: 2px 2px 2px var(--jet-color);
}

footer {
  font-size: 1.1rem;
}

.bi-suit-heart-fill {
  font-size: 1.5rem !important;
}

/* Header and Footer */
#navbar,
footer {
  background-color: var(--emerald-color);
  color: var(--aerospace-color);
}

.nav-link {
  color: var(--jet-color) !important;
}

.dropdown-menu {
  background-color: var(--emerald-color) !important;
  border-color: var(--jasmine-color) !important;
  border-width: 3px !important;
  width: 10vw;
}

.dropdown-item,
.dropdown-icon {
  color: var(--jet-color) !important;
}

.dropdown-item:hover,
.nav-link:hover,
.social-icon:hover {
  background-color: var(--emerald-color) !important;
  color: var(--jasmine-color) !important;
}

.navbar-toggler {
  border-color: var(--jet-color) !important;
  border-width: 3px !important;
}

.active,
.bi-list,
.bi-suit-heart-fill,
#logo,
.active:hover {
  color: var(--aerospace-color) !important;
}

.active {
  background-color: var(--emerald-color) !important;
}

.list-group-item {
  border: none !important;
  background-color: var(--emerald-color) !important;
  color: var(--jet-color) !important;
  font-size: 1.5rem;
}

li::marker {
  color: var(--emerald-color);
}

/* Home page */

.intro-padding {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#hero-image {
  box-shadow: -5px 10px 10px var(--jet-color);
}

.card-title,
h2,
.ingredient-item-sub-title {
  color: var(--aerospace-color) !important;
  text-shadow: 1px 1px 1px var(--jet-color);
}

h1 {
  font-size: 4rem !important;
  color: var(--aerospace-color) !important;
  text-shadow: 2px 2px 2px var(--jet-color);
}

/* Appetizers */

.card {
  background-color: var(--jasmine-color) !important;
}

.btn-card {
  background-color: var(--jet-color) !important;
  color: var(--white-smoke-color) !important;
}

/* Recipes */

.recipe-video {
  width: 100vw;
  height: 40vh;
}

iframe {
  width: 100%;
  height: 100%;
}

.ingredient-item-sub-title {
  list-style-type: none;
}

/* Media queries */

/* Small devices (landscape phones, up to 576px) */
@media (max-width: 576px) {
  #main-logo {
    font-size: 2.5rem !important;
  }

  .dropdown-menu {
    width: 50vw !important;
  }

  #secondary-logo {
    font-size: 1.5rem !important;
    text-shadow: 1px 1px 1px var(--jet-color);
  }

  .footer-nav-text {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem !important;
  }
}

/* Medium devices (tablets, 577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  #secondary-logo {
    font-size: 1.8rem !important;
  }

  .dropdown-menu {
    width: 30vw !important;
  }
}

/* Large devices (1025px +) */
@media (min-width: 1025px) {
  .recipe-video {
    margin: auto !important;
    width: 854px;
    height: 480px;
  }

  .ingredients {
    margin-left: 15vw !important;
  }
}
